@model IEnumerable<Project_3.Models.TicketHistory>

@{
    ViewBag.Title = "Index";
}


    <section role="main" class="content-body dash">
        <!--Header-->
        <header class="page-header">
            <h2>@ViewBag.Title</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="@Url.Action("Dashboard","Home")">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>

                    <li style="padding-right:10px"><span>@ViewBag.Title</span></li>
                </ol>

            </div>
        </header>
        <h2 class="htwo">TICKET HISTORIES</h2>
        @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin"))
        {
            <!--Table-->
            <table class="table table-striped table-bordered" id="dataTable" style="width:100%">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("CreatedBy")
                        </th>
                        <th>
                            @Html.DisplayName("EditedBy")
                        </th>
                        <th>
                            @Html.DisplayName("PropertyName")
                        </th>
                        <th>
                            @Html.DisplayName("ChangedFrom")
                        </th>
                        <th>
                            @Html.DisplayName("ChangedTo")
                        </th>

                        <th>
                            @Html.DisplayName("Updated")
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ticket.OwnerUser.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Property)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OldValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Changed)
                            </td>


                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <h2 class="hthree center">You can view the ticket histories of Only those tickets that has been assigned to you!</h2>
        }

    </section>

