@model IEnumerable<Project_3.Models.TicketHistory>

@{
    ViewBag.Title = "Index";
}


    <section role="main" class="content-body dash">
        <!--Header-->
        <header class="page-header">
            <h2>@ViewBag.Title</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="@Url.Action("Dashboard","Home")">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>

                    <li style="padding-right:10px"><span>@ViewBag.Title</span></li>
                </ol>

            </div>
        </header>
        <h2 class="htwo">TICKET HISTORIES</h2>
       
            <!--Table-->
            <table class="table table-striped table-bordered" id="dataTable" style="width:100%">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Ticket Title")
                        </th>

                        <th>
                            @Html.DisplayName("PropertyName")
                        </th>
                        <th>
                            @Html.DisplayName("ChangedBy")
                        </th>
                        <th>
                            @Html.DisplayName("ChangedFrom")
                        </th>
                        <th>
                            @Html.DisplayName("ChangedTo")
                        </th>

                        <th>
                            @Html.DisplayName("Updated")
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Property)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OldValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Changed)
                        </td>


                    </tr>
                    }
                </tbody>
            </table>

        
       

    </section>

