@model IEnumerable<Project_3.Models.TicketNotification>

@{
    ViewBag.Title = "Index";
}

<section role="main" class="content-body dash">
    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Dashboard","Home")">
                        <i class="fa fa-home"></i>   <span> Go to DashBoard</span>
                    </a>
                </li>

                <li style="padding-right:10px"><span>@ViewBag.Title</span></li>
            </ol>

        </div>
    </header>
    <div class="row">
        <h2 class="htwo"></h2>
    </div>

    <div class="panel-body">
        <section class="panel panel-group">

            <div id="accordion">
                <div class="panel panel-accordion panel-accordion-first">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                <i class="fa fa-check htwo"></i> All NOTIFICATIONS
                            </a>
                        </h4>
                    </div>
               
                        <div id="collapse1One" class="accordion-body collapse in">
                            <div class="panel-body">

                                @foreach (var item in Model)
                                {
                                    <ul class="widget-todo-list">

                                        <li class="text-dark">


                                            <div>
                                                <p class="m-none mail-date text-bold">@item.Sender.FullName</p>


                                                <label class="todo-label"><span>@item.NotificationBody</span></label>
                                                <p class="m-none mail-date">@item.Created</p>
                                            </div>

                                            <div class="todo-actions">

                                                <a class="mb-xs mt-xs mr-xs modal-sizes btn-sm btn btn-danger" href="#modalXS"> <i class="fa fa-times"></i></a>

                                            </div>


                                        </li>

                                    </ul>
                                    <!-- Modal XS -->
                                    <div id="modalXS" class="modal-block modal-block-xs mfp-hide">
                                        <section class="panel">

                                            <div class="panel-body">
                                                <div class="modal-wrapper">
                                                    <div class="modal-text">
                                                        <p>Remove This Notification?</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <footer class="panel-footer">
                                                <div class="row">

                                                    <div class="col-md-12 text-right">
                                                        @Html.Partial("_NotificationDeletePartial", item)


                                                    </div>
                                                </div>
                                            </footer>
                                        </section>
                                    </div>
                                }









                            </div>
                        </div>
                      
                    
                </div>
            </div>
        </section>
    </div>



</section>
