@model IEnumerable<Project_3.Models.Project>
@using Project_3.Helpers
@{
    ViewBag.Title = "Index";
    var roleHelper = new RoleHelper();
}

    <section role="main" class="content-body dash">
        <header class="page-header">
            <h2>@ViewBag.Title</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="@Url.Action("Dashboard","Home")">
                            <i class="fa fa-home"></i>   <span> Go to DashBoard</span>
                        </a>
                    </li>

                    <li style="padding-right:10px"><span>@ViewBag.Title</span></li>
                </ol>

            </div>
        </header>

        <h2 class="htwo">ALL PROJECTS INDEX AND MANAGEMENT</h2>
       

        <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>

                    <th>
                        @Html.DisplayName("ProjectTeam")
                    </th>
                    @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin") || User.IsInRole("ProjectManager"))
                    {
                        <th>
                            @Html.DisplayName("Options")
                        </th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>



                        <td>
                            @foreach (var user in item.Users)
                            {
                                <h4 class="row comment" data-toggle="tooltip" title="( @roleHelper.ListUserRoles(user.Id).FirstOrDefault())" style="padding:0px 0px 0px 8px"> @user.FullName</h4>

                            }

                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin") || User.IsInRole("ProjectManager"))
                        {
                            <td>
                                @Html.ActionLink("ManageUsers", "ManageUsers", new { id = item.Id }) <br />
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                            </td>
                        }

                    </tr>
                }

            </tbody>
        </table>
        <!-- Button to Open the Modal -->
        <a href="#" data-target="#manageusers" data-toggle="modal">
            manage users
        </a>

        <!-- The Modal -->
        <div class="modal" id="manageusers">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        @*@foreach (var project in Model)
                        {
                            @Html.Partial("_ManageUsersPartial", project)
                        }*@

                        @*@if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin") || User.IsInRole("ProjectManager"))
                        {
                            <div class="container" style="padding:20px">
                                Select Boxes
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { style = "width:90%;" }))
                                {
                                    <div class="row">
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("ProjectId", (int)ViewBag.ProjectId)
                                        <div class="row" style="padding:20px">
                                            <div class="col-lg-offset-1 col-lg-8">
                                                <label>Select Project Manager</label>
                                                @Html.DropDownList("ProjectManagerId", null, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding:20px">
                                            <div class="col-lg-offset-1 col-lg-8">
                                                <label>Select Submitter</label>
                                                @Html.DropDownList("Submitters", null, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding:20px">
                                            <div class="col-lg-offset-1 col-lg-8">
                                                <label>Select Developers</label>
                                                @Html.ListBox("Developers", null, new { @class = "form-control", style = "height:70px" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px">
                                        <div class="col-lg-offset-1 col-lg-8 text-left">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                }
                            </div>

                        }*@
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>


    </section>

